
<h2>Did you forget your password or did you spell your name wrong?</h2>
<h4>Well don't fret my pet!<h4>
<h4>Change it right here</h4>

<h3>Edit Patient</h3>
<form class="" action="/patients/<%set_patient%>/edit" method="post">
<input type="hidden" name="_method" value="patch">
<input type="" id="" name="name" placeholder="Name" value="">
       <br>
       
    <br>

<input type="submit" class="myButton" name="" value="Edit">
</form>

