<div class="su_content">
<h1>Signup</h1>
<form action="/physicians" method="post">  
<label for="name"> NAME </label>
<input id="name" name="name" type="text">
<br>
<label for="password"> CREATE PASSWORD </label>
<input id="password" name="password" type="password">
<br>
<input class="myButton" name="submit" type="submit" value="Sign Up Here">
</form>
</div>