

<h3><%= current_phys.name %>'s Appointments</h3>
<table class="app-table">
  <tr>
    <th>APPOINTMENT</th>
    <th>PATIENT</th>
    <th>INFORMATION </th>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>

