
<h3>Edit Patient</h3>
<form action="/patients/<%set_patient%>/edit" method="post">
<input type="hidden" name="_method" value="patch">

<input type="Text" name="name" placeholder="Name" >
       <br>
       
       <input type="Text" name="insurance" placeholder="Insurance">
       <br>
      
       <input type="Number" name="age" placeholder="Age">
       <br>
       
        <input type="Text" name="address"  placeholder="Address" >
       <br>
    <br>

<input type="submit" class="myButton" value="Edit">
</form>