
<h3>Edit Patient</h3>
<form class="" action="/patients/<%set_patient%>/edit" method="post">
<input type="" id="" name="name" placeholder="Name" value="">
       <br>
       
       <input type="Text" id="" name="insurance" placeholder="Insurance">
       <br>
      
       <input type="" id="" name="age" placeholder="Age">
       <br>
       
        <input name="address"  placeholder="Address" autocomplete="street-address">
       <br>
    <br>

<input type="submit" class="myButton" name="" value="Edit">
</form>