<div class="pat_table">
<table class="appt_table">
<thead >
<th><h2>New Patient</h2></th>
<th><h2>Appoinment</h2></th>
</thead>
<td>

<form class="" action="/patients" method="post">

 <input type="text" id="" name="patient[name]" placeholder="Name" value=""required>
       <br>
       
       <input type="text" id="" name="patient[insurance]" placeholder="Insurance" value=""required>
       <br>
      
       <input type="number" id="" name="patient[age]" placeholder="Age" value=""required>
       <br>
       
        <input type="text" name="patient[address]"  placeholder="Address" autocomplete="street-address"required>
       <br>
       </td><br>
      
    <br>
       <td> 
       
      <h4>Office hours are</h4>
    <h4> Monday - Saturday 9am to 6pm</h4>

    <input type="datetime-local" id="meeting-time"
       name="appointment[appointment_date]" value="<%=DateTime.now()%>"
       min="2021-01-01T00:00" max="2021-12-31T00:00"required>
      
    
      <td><input type="submit" class="myButton" name="" value="Submit"></td>
 </td>      
</form>
</table>
</div>


   