
<h3>Edit Appointments</h3>
<p>Please enter ALL information</p>

<form action="/appointments/<%=@appointment.id%>/edit" method="post">
<input type="hidden" name="_method" value="patch">
<input type="datetime-local" id="meeting-time"
       name="appointment_date" value="<%= @appointment.appointment_date%>"
       min="2021-01-01T00:00" max="2021-12-31T00:00"/>
       <br>
    <br>

<input type="submit" class="myButton"  value="Edit"/>
</form>
