<h3>All appoinments for all doctors<h3>
<table class="appt_table">
  <thead >
    <th>Appoinments</th>
     <th> appoinments physicians</th>
    <th>delete appoinments</th>
   
    </thead>
    <%@appointments.each do |a| %>
    <tr>
 <td><%a.appointment_date%></td>
 <td><%a.physician_id %></td>
 <td class="delete"><form class="" action="/patients/<%=a.id%>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input class="myButton" type="submit" name="" value="delete patient">
  </td>
  </tr>
  </table>
<% end %>
  