<h2>Make a new Appoinment</h2>

<form class="" action="/appoinments" method="post">
<%# datetime-local = one input %>

<h4>Office hours are 9am to 6pm</h4>
<br>

<input type="datetime-local" id="meeting-time"
       name="appointment_date" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">

<input type="submit" class="myButton" name="" value="Make Appointment">
</form>