<h2>Make a new Appoinment</h2>

<form class="" action="/appoinments" method="post">

<label for="appointment_date">Appoinment Date</label>
<input type="date" name="appointment_date"
       value="2018-07-22"
       min="2021-01-01" max="2021-12-31">
<br>
<label for="appt">Appoinment Time:</label>
<input type="time" name="appt_time"
       min="09:00" max="18:00" required>
<small>Office hours are 9am to 6pm</small>
<br>

<input type="submit" class="myButton" name="" value="Make Appointment">
</form>