<h2>Make a new Appoinment for existing Patient</h2>

<form class="content" action="/appoinments" method="post">
<%# datetime-local = one input %>

<h4>Office hours are Monday - Saturday 9am to 6pm</h4>
<br>

<input type="datetime-local" id="meeting-time"
       name="appointment_date" value="2021-01-23T19:30"
       min="2021-01-01T00:00" max="2021-12-31T00:00">
       <br>
  
       <input type="number" id="" name="patient_id" placeholder="Patient ID" value="">
       <br>
<input type="submit" class="myButton"  value="Make Appointment">
       
     
</form>



