<table class="appt_table">
  <thead >
    <th>Appoinments</th>
    <th>Edit</th>
    <th>Delete</th>
     </thead>
 
  <% current_phys.appointments.each do |a| %>
  <tr>
  <td><%= a.appointment_date%></td>
  <td class="edit_btn"><a class="myButton" href="/appointments/<%=a.id%>/edit">Edit</a></td>
  <td class="delete"><a class="del_btn" href="/appointments/<%=a.id%>/delete">Delete</a></td>
  </tr>
<% end %>
</table>
