<div class="wel_head"><header>B.Tech</header></div>
 

<div class="container" class="wrapper">
  <%# <img src="/home/auntyayo/development/patient-portal/public/images/doctor patient pic2.png" class="img-responsive main-image"> %>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Patient Portal</h2>

    <div class="content">Welcome To the patient portal where you can keep track of patients and their portals</div>
      <br>
        <div class="myButton"><a href="/log_in">LOG IN </a></div> OR 
        <div class="myButton"><a href="/sign_up"> SIGN UP</a></div>
      
  
  </div>
</div>
